*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Rasa", sans-serif;
	line-height: 1.5;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: #fff3eb;
	color: #374354;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0 0 0;
}

.haiku-container {
	border: 2px solid #374354;
	height: 360px;
	width: 360px;
}

#haiku {
	background-image: url("../background.png");
	background-size: contain;
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	font-size: 32px;
}

#text {
	width: 100%;
	resize: none;
	padding: 8px;
}

#font-size {
	width: 100%;
}
